.pull-right.my-3
  %button.btn.btn-primary{"data-target" => "#create-dataset-modal", "data-toggle" => "modal"}
    Create dataset
#create-dataset-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "create-dataset-modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title Create new dataset
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal"}
          %span{"aria-hidden" => "true"} ×
      = form_with model: Dataset.new, url: dataset_index_path do |f|
        .modal-body
          .row
            .col-3
              = f.label :file
              = f.label :file_format
            .col-9
              = f.file_field :file, class: 'mw-100'
              = f.select :file_format, options_for_select(Dataset.file_formats.keys)

        .modal-footer
          = f.submit("Create", class: "btn-primary btn")

- if @datasets.length == 0
  %h5 Your datasets list is empty
- else
  %h5 Your datasets
  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"} Name
        %th{:scope => "col"} Format
        %th{:scope => "col"} Show
        %th{:scope => "col"} Delete
    %tbody
      - @datasets.each_with_index do |dataset_item, index|
        %tr
          %th{:scope => "row"} #{index+1}
          %td #{dataset_item.file.identifier}
          %td #{dataset_item.file_format}
          %td
            = link_to "Show file", dataset_path(dataset_item), class: 'btn btn-info'
          %td
            = link_to "Delete", dataset_path(dataset_item), class: 'btn btn-danger', method: :delete
